<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Отморожение</title>
<style>
body { font-family: sans-serif; padding: 16px; color: #333; line-height: 1.6; }
h1 { color: #D32F2F; font-size: 20px; border-bottom: 2px solid #D32F2F; padding-bottom: 8px; margin-bottom: 16px; }
</style>
</head>
<body>
<h1>Отморожение</h1>
<u><b>Диагноз</b></u><br>
Отморожение
<b><u>Жалобы:</u></b><br>
На зуд, боль и покалывание в области «?????»
<u><b>Локальный статус</b></u><br>
<b>1 степень<b>
При осмотре в области «?????» округлые участки отёчной, бледно-цианотичной кожи размерами 3,5х4,0 см, окружённые зоной гиперемии до 2,5 см. Отмечается локальная гипотермия.
<b>2 степень<b>
При осмотре: в области «?????» пузыри багрового цвета, напряженные, с прозрачным содержимым от 1,0 до 2,5 см, отек подлежащих тканей. Чувствительность сохранена.
<b>3-4 степень<b>
При осмотре: в области «?????» участок черного цвета, отмечаются некрозы с сухой поверхностью, с полным отсутствием чувствительности. Полное отслоения эпидермиса, ткани отечные. В области «?????» пузырь синюшного цвета размером 2х3см с однородным содержимым. Выраженный отек близлежащих тканей
</body>
</html>